<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=no" />
		<title>Senior Project Game</title>
		<script>
			var username = "<%= user %>";
			var joinLobbyNameFromURL = "<%= lobby %>";

			console.log(username);
			console.log("Trying to connect to Lobby: " + joinLobbyNameFromURL);
		</script>
		<script src="http://localhost:3000/socket.io/socket.io.js"></script>

		<script type="text/javascript" src="/js/phaser.js"></script>
		<script src="/js/LabelButton.js"></script>

		<script src="/js/states/InitalState.js"></script>

		<script src="/js/states/ConnectionState.js"></script>

        <script src="/js/states/MenuState.js"></script>

		<script src="/js/states/CreateGameState.js"></script>
		<script src="/js/states/JoinGameState.js"></script>

		<script src="/js/states/LobbyState.js"></script>
		<script src="/js/states/GameOverState.js"></script>

        <script src="/js/states/BootState.js"></script>
        <script src="/js/states/LoadingState.js"></script>

		<script src="/js/ChatManager.js"></script>
        <script src="/js/states/TiledState.js"></script>
        <script src="/js/prefabs/Prefab.js"></script>
        <script src="/js/prefabs/Player.js"></script>
		<script src="/js/prefabs/OtherPlayer.js"></script>
        <script src="/js/prefabs/Enemy.js"></script>
        <script src="/js/prefabs/FlyingEnemy.js"></script>
        <script src="/js/prefabs/Goal.js"></script>
		<script src="/js/prefabs/Bullet.js"></script>

        <script type="text/javascript" src="/js/main.js"></script>

		<style>
		  body {
		    padding: 0px;
		    margin: 0px;
		    background-color: black;
		  }

		  #game {
			position: relative;
		  }

		  #container {
			text-align: center;
		  }
			#chat{
				margin-top: -200px;
				text-align: center;
			}

		  #chat-box {
			overflow: hidden;
			position: absolute;
			height: 230px;
		  }

		  #chat-input {
			padding-left: 0.5em;
			width: 100%;
		  }

		  #message-history {
			height: 75%;
			overflow-y: scroll;
			background-color: gray;
			opacity: 0.75;
			text-align: left;
			padding-left: 0.5em;
		  }


		  </style>
	</head>

	<body>
		<div id="container">
			<div id = "game"></div>
			<div id = "chat"></div>

		</div>
	</body>
</html>
